.stock-suggest {
  display: inline-block;
}
.stock-suggest:hover {
  color: blue;
  text-decoration: underline;
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 250%;
}

h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 500;
  margin: 0;
}

#title-text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 300%;
}
#stock-search-box {
  min-width: 400px;
  position: absolute;
}
#market-search-label {
  text-align:right;
  padding-top: 3px;
}

#stock-search-result{
  background-color: #8bc7f4;
  margin-left: 20px;
  margin-right: 8px;
  opacity: 1.0;
}

#stock-search-result:hover {
  color: #eee;
  background-color: #607D8B;
  cursor: pointer;
}

.sidebar, .sidebar-divider {
  text-align: left;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(34, 170, 255, 0.75);
  border-radius: 6px;
  padding: 5px;
}
.sidebar-divider {
  margin-left: -5px;
  margin-right: -5px;
  border-radius: 0px;
  border-style: solid none none none;
  padding: 0px;
  height: 0%;
}

#stocks {
  flex: 1;
  height: 90px;
  text-align: left;
  padding-top: 3px;
	border-style: none none none none;
  overflow-y: auto;
  white-space: nowrap;
}

#main-grid-row {
  height: 500px;
}

#series-container,
#graph-container {
  height: 100%;
}

#series,
#graph {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  overflow: hidden;
}


#news {
  padding-top: 3px;
  height: 250px;
	border-style: none none none none;
}

#article-grid {
  height: 200px;
  overflow-y: auto;
}

#article-item:hover {
  cursor: pointer;
}

#news-comp {
  min-width: 400px;
  border-style: solid;
  border-color: rgba(34, 170, 255, 0.75);
  border-radius: 6px;
  border-width: 1px;
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
}

input[type=checkbox]:not(old),
input[type=radio]:not(old){
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  margin-top   : 0.25em;
  margin-bottom: 0.25em;
  line-height  : 1em;
}
input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0em 0.5em 0em 0.25em;
  border           : 0.0625em solid #0000ff;
  border-radius    : 1em;
  background       : #ffffff;
  vertical-align   : bottom;
  transition: background 0.25s linear;
}
input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background : #000000;
}
input[type=checkbox]:not(old) + label > span.article-shape-1 {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-radius: 0em;
  border-bottom: 1em solid #0000FF;
  border-top: 0em;
}
input[type=checkbox]:not(old):checked + label > span.article-shape-1 {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-radius: 0em;
  border-bottom: 1em solid #0000FF;
  border-top: 0em;
}
span.article-shape-1: before {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-radius: 0em;
  border-bottom: 1em solid #FF0000;
  border-top: 0em;
}
(input[type=checkbox]:not(old):checked + label > span.article-shape-1): before {
  border: 0em;
}
input[type=checkbox]:not(old):hover + label > span {
  background : #000000;
  opacity: 0.5;
}
input[type=radio]:not(old):hover + label > span {
  background : #000000;
  opacity: 0.5;
}
input[type=checkbox]:not(old):checked + label > span.market-color-1 {
  background : #FFCC00;
}
input[type=checkbox]:not(old):checked + label > span.market-color-2 {
  background : #FF66FF;
}
input[type=checkbox]:not(old):checked + label > span.market-color-3 {
  background : #66FF33;
}
input[type=checkbox]:not(old):checked + label > span.market-color-4 {
  background : #66FFFF;
}
input[type=checkbox]:not(old):checked + label > span.market-color-5 {
  background : #FF3300;
}
input[type=checkbox]:not(old):checked + label > span.trend {
  background : #AAAAAA;
}
input[type=checkbox]:not(old):checked + label > span.trend-color-1 {
  background : #0033CC;
}
input[type=checkbox]:not(old):checked + label > span.trend-color-2 {
  background : #006600;
}
input[type=checkbox]:not(old):checked + label > span.trend-color-3 {
  background : #660066;
}
input[type=checkbox]:not(old):checked + label > span.trend-color-4 {
  background : #996633;
}
input[type=checkbox]:not(old):checked + label > span.trend-color-5 {
  background : #CCCC00;
}
input[type=checkbox]:not(old):hover + label > span.market-color-1 {
  background : #FFCC00;
}
input[type=checkbox]:not(old):hover + label > span.market-color-2 {
  background : #FF66FF;
}
input[type=checkbox]:not(old):hover + label > span.market-color-3 {
  background : #66FF33;
}
input[type=checkbox]:not(old):hover + label > span.market-color-4 {
  background : #66FFFF;
}
input[type=checkbox]:not(old):hover + label > span.market-color-5 {
  background : #FF3300;
}
input[type=checkbox]:not(old):hover + label > span.trend {
  background : #AAAAAA;
}
input[type=checkbox]:not(old):hover + label > span.trend-color-1 {
  background : #0033CC;
}
input[type=checkbox]:not(old):hover + label > span.trend-color-2 {
  background : #006600;
}
input[type=checkbox]:not(old):hover + label > span.trend-color-3 {
  background : #660066;
}
input[type=checkbox]:not(old):hover + label > span.trend-color-4 {
  background : #996633;
}
input[type=checkbox]:not(old):hover + label > span.trend-color-5 {
  background : #CCCC00;
}
input[type=checkbox]:not(old):checked:hover + label > span {
  opacity: 1;
}
input[type=radio]:not(old):checked:hover + label > span {
  opacity: 1;
}
chart {
  width: auto;
  text-align: center;
  display: block;
}
.arrow {
  fill: #22aaff;
}
.arrow:hover {
  opacity: 0.5;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

body {
  background-color: rgba(34, 170, 255, 0.015);
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
      background-color: #4db9ff;
}

::-webkit-scrollbar-thumb {
      background-color: #099eff;
}

::-webkit-scrollbar-button {
      background-color: #0184d9;
}

::-webkit-scrollbar-corner {
      background-color: black;
}

